<%- include('partials/header') %>

<div class="container">
    <a class="btn btn-dark btn-lg" href="/secrets" role="button">Home</a>
</div>
<hr>
<div class="container">
    
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">From Kolkata to Delhi</div>
        <div class="card-body">
          <h5 class="card-title">Via Patna</h5>
          <a class="btn btn-light btn-lg" href="#" role="button">Check</a>
      </div>
    </div>
    
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">From Kolkata to Delhi</div>
        <div class="card-body">
          <h5 class="card-title">Via Ranchi</h5>
          <a class="btn btn-light btn-lg" href="#r" role="button">Check</a>
        </div>
      </div>

      <br>

      <a class="btn btn-dark btn-lg" href="/submit" role="button">Search Again</a>

</div>
<%- include('partials/footer') %>
